<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Расчет расстояния между аэропортами</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Загрузка CSS и JavaScript библиотеки Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <h2>Карта мира с выбором двух аэропортов</h2>
    <div id="mapid"></div>
    <p><strong>Щёлкните дважды на карте, чтобы отметить первый аэропорт (Берлин).</strong></p>
    <p><strong>Затем щёлкните ещё раз, чтобы добавить второй аэропорт (Токио).</strong></p>
    <div id="result"></div>

    <!-- Скрипт инициализации карты и взаимодействия -->
    <script src="../static/script.js"></script>
</body>
</html>
